<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Article | Home</title>
    </head>
    <body>
    <a href="{{ path('app_pins_create') }}">Create pin</a>
    {% set x= listPins | length %}
        <h3>All Pins({{ x }})</h3>
        {% if listPins | length > 0 %}
            <article>
                {% for pin in listPins %}
                    <h2>
                        <a href="{{ path('app_pins_show', {'id':pin.id }) }}">{{ pin.titre() }}</a>
                    </h2>
                    <p>{{ pin.description() }}</p>

                {% endfor %}
            </article>
        {% else %}
                <p>On a pas de pin!</p>
        {% endif %}

    </body>
</html>
